* {
    padding: 0px;
    margin: 0px;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  header img {
    height: 40px;
  }
  
  header nav a {
    color: rgb(53, 12, 236);
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  section {
    background-image: url("BACKGROUN.jpg");
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 100px);
  }
  section h1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  section #article-list {
    width: 50%;
   background-image:  url("tema.png");
   border: 20px solid rgb(189, 58, 58);
      
  }
  
  section #article-list article  {
    padding: 50px;
    border-bottom: 1px solid rgb(189, 58, 58);
  }
  
 
  section #article-list article h3, a, h5 {
    color: rgb(53, 12, 236);
    text-align: center;
    text-decoration: none;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
    
  }
  
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;
    background-color: black;
  }